@model LindaEShop.Core.DTOs.ContinueTheuyingProcessViewModel
@using LindaEShop.DataLayer.Entities
@{
	Layout = "ShopLayoutModas";
	ViewData["Title"] = "ادامه فرایند خرید";
	List<UserAddress> userAddresses = ViewData["UserAddress"] as List<UserAddress>;
}


<section class="flat-row main-shop shop-4col">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<form class="form-group" asp-action="ContinueTheBuyingProcess" method="post">
					<input type="hidden" name="OrderId" value="@Model.OrderId" />
					<div class="col-md-6">
						<span> نشانی های قبلی شما  </span>
						<a class="btn btn-outline-warning col-md-pull-12" href="/UserPanel/Home/AddNewUserAddress/@Model.OrderId">+ افزودن نشانی جدید</a>
						<hr />
						<ul>
							@foreach (var item in userAddresses)
							{
								<li><input type="radio" name="AddressId" value="@item.AddressId" />  @item.Province - @item.City - @item.Address (@item.AddressNo) </li>
							}
						</ul>
						<br />
						<div class="form-group">
							<div><textarea placeholder="توضیحات ... " class="form-control text-area-hgith" asp-for="Description"></textarea></div>
							<span asp-validation-for="Description" class="text-danger"></span>
						</div>
						<div class="hidden-md-up">
							<br />
							<hr />
							<br />
						</div>
					</div>
					<div class="col-md-6">
						<span> بانک عامل </span>
						<div class="hidden-md-down">
							<hr />
						</div>
						<ul>
							<li>
								<input type="radio" name="BankPort" value="1" />
								<script src="https://www.zarinpal.com/webservice/TrustCode" type="text/javascript"></script> درگاه امن زرین پال
							</li>
						</ul>
						<div class="hidden-md-up">
							<hr />
						</div>
					</div>
					<br />
					<br />

					<span class="form-control-label text-danger" asp-validation-for="AddressId"></span>
					<span class="form-control-label text-danger" asp-validation-for="Description"></span>
					<span class="form-control-label text-danger" asp-validation-for="BankPort"></span>
					<button class="btn btn-success btn-block" type="submit">پرداخت و تکمیل خرید</button>
				</form>
			</div>
		</div><!-- /.row -->
	</div><!-- /.container -->
</section>


