@model LindaEShop.Core.DTOs.BuyProductViewModel
@{
	ViewData["Title"] = Model.Product.Name;
	Layout = "_LayoutShowProduct";

	List<LindaEShop.DataLayer.Entities.Color> colors = ViewData["colors"] as List<LindaEShop.DataLayer.Entities.Color>;
	List<LindaEShop.DataLayer.Entities.Size> sizes = ViewData["sizes"] as List<LindaEShop.DataLayer.Entities.Size>;
}

<div class="boxed">
	<!-- Page title -->
	<div class="page-title parallax parallax1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="page-title-heading">
						<h1 class="title">@Model.Product.Name</h1>
					</div><!-- /.page-title-heading -->
					<div class="breadcrumbs">
						<ul>
							<li><a href="/">خانه</a></li>
							<li><a href="/product">فروشگاه</a></li>
						</ul>
					</div><!-- /.breadcrumbs -->
				</div><!-- /.col-md-12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</div><!-- /.page-title -->

	<section class="flat-row main-shop shop-detail style-1">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="flat-image-box clearfix">
						<div class="inner padding-top-4">
							<ul class="product-list-fix-image">
								<li>
									<img src="/Images/Product/@Model.Product.ImageName" alt="@Model.Product.Name">
								</li>
								@foreach (var item in Model.Product.ProductGalleries)
								{
									<li>
										<img src="/Images/ProductGallary/@item.ImageName" alt="@Model.Product.Name">
									</li>
								}
							</ul>
						</div>
					</div>
				</div><!-- /.col-md-6 -->

				<div class="col-md-6">
					<div class="divider h0"></div>
					<div class="product-detail">
						<div class="inner">
							<div class="content-detail">
								<h2 class="product-title">@Model.Product.Name</h2>
								<div class="flat-star style-1">
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star"></i>
									<i class="fa fa-star-half-o"></i>
								</div>
								<p>@Model.Product.ShortDescription</p>
								<div class="price margin-top-24">
									@*<del><span class="regular">520,000 تومان</span></del>*@
									<ins><span class="amount">@Model.Product.Price.ToString("#,0") تومان</span></ins>
								</div>
								@*<ul class="product-infor style-1">
										<li><span>100% کتان</span></li>
										<li><span>6 ماه ضمانت</span></li>
										<li><span>ارسال رایگان</span></li>
										<li><span>کیفیت عالی</span></li>
									</ul>*@
								<p>@Html.Raw(Model.Product.Description)</p>
								<br />
								<div class="product-categories margin-top-22">
									<span>دسته بندی: </span><a href="#">پوشاک,</a> <a href="#">ست,</a><a href="#">لباس خواب,</a><a href="#">اسپرت</a>
								</div>
								<div class="product-tags">
									<span>برچسب: </span><a href="#">پوشاک,</a> <a href="#">فشن,</a><a href="#">زنانه</a>
								</div>
								<br />
								<br />
								<form action="ShowProduct" method="post">
									<input type="hidden" name="productId" value="@Model.Product.Id" />
									<div>
										<span>
											سایز های موجود (لطفا سایز مورد نظر را انتخاب کنید)
										</span>
										<ul>
											@foreach (var item in Model.Product.SizeToProducts)
											{
												<li><input type="radio" asp-for="SizeId" value="@item.SizeId" /> - @sizes.FirstOrDefault(c => c.SizeId == item.SizeId).SizeProduct</li>
											}
										</ul>
										<span asp-validation-for="SizeId" class="colorSpanValid"></span>
									</div>
									<div>
										<span>
											رنگ های موجود (لطفا رنگ مورد نظر را انتخاب کنید)
										</span>
										<ul>
											@{

											}
											@foreach (var item in Model.Product.ColorToProducts)
											{
												<li><input type="radio" asp-for="ColorId" value="@item.ColorId" /> - @colors.FirstOrDefault(c => c.ColorId == item.ColorId).ColorName</li>
											}
										</ul>
										<span asp-validation-for="ColorId" class="colorSpanValid"></span>
									</div>

									<div class="product-quantity margin-top-35">
										<div class="quantity">
											<input type="text" value="1" asp-for="quantityNumber" class="quantity-number">
											<span class="inc quantity-button">+</span>
											<span class="dec quantity-button">-</span>
										</div>
										<span asp-validation-for="quantityNumber" class="colorSpanValid"></span>
										<div class="add-to-cart">

											<input type="submit" class="btn btn-lg colorBtn" value="افزودن به سبدخرید" />
										</div>
									</div>
								</form>
								<ul class="flat-socials margin-top-46">
									<li><a href="https://t.me/modernunderwear">تلگرام</a></li>
									<li><a href="https://www.instagram.com/indaunder/"><i class="fa fa-instagram"></i>اینستاگرام</a></li>
								</ul>
							</div>
						</div>
					</div><!-- /.product-detail -->
				</div>
			</div><!-- /.row -->
		</div><!-- /.container -->
	</section><!-- /.flat-row -->

	<section class="flat-row shop-detail-content style-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="flat-tabs style-1 has-border">
						<div class="inner">
							<ul class="menu-tab">
								<li class="active">توضیحات</li>
								<li>جزئیات بیشتر</li>
								<li>دیدگاه ها</li>
							</ul>
							<div class="content-tab">
								<div class="content-inner">
									<div class="flat-grid-box col2 border-width border-width-1 has-padding clearfix">
										<div class="grid-row image-left clearfix">
											<div class="grid-item">
												<div class="thumb text-center">
													<img src="/Images/Product/@Model.Product.ImageName" alt="@Model.Product.Name - توضیحات">
												</div>
											</div><!-- /.grid-item -->
											<div class="grid-item">
												<div class="text-wrap">
													<h6 class="title">@Model.Product.Name</h6>
													<p>@Html.Raw(Model.Product.Description)</p>
												</div>
											</div>
										</div><!-- /.grid-row -->
									</div><!-- /.flat-grid-box -->
								</div><!-- /.content-inner -->
								<div class="content-inner">
									<div class="inner max-width-40">
										<table>
											<tbody>
												<tr>
													<td>وزن</td>
													<td></td>
												</tr>
												<tr>
													<td>ابعاد</td>
													<td></td>
												</tr>
												<tr>
													<td>جنس</td>
													<td></td>
												</tr>
												<tr>
													<td>سایز</td>
													<td></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div><!-- /.content-inner -->
								<div class="content-inner">
									<div class="inner max-width-83 padding-top-33">
										<p>نظری ثبت نشده است </p>
										<hr />
										<div class="comment-respond review-respond" id="respond">
											<div class="comment-reply-title margin-bottom-14">
												<h5>دیدگاه خود را بنویسید</h5>
												<p>آدرس ایمیل شما منتشر نخواهد شد، فیلدهای ضروری با علامت * مشخص شده اند.</p>
											</div>
											<form novalidate class="comment-form review-form" id="commentform" method="post" action="#">
												<p class="flat-star style-2">
													<label>امتیاز*:</label>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</p>
												<p class="comment-form-comment">
													<label>دیدگاه*</label>
													<textarea class="" tabindex="4" name="comment" required> </textarea>
												</p>
												<p class="comment-name">
													<label>نام</label>
													<input type="text" aria-required="true" size="30" value="" name="name" id="name">
												</p>
												<p class="comment-email">
													<label>ایمیل*</label>
													<input type="email" size="30" value="" name="email" id="email">
												</p>
												<p class="comment-form-notify clearfix">
													<input type="checkbox" name="check-notify" id="check-notify"> <label for="check-notify">اطلاع از پست های جدید از طریق ایمیل</label>
												</p>
												<p class="form-submit">
													<button class="comment-submit">ثبت</button>
												</p>
											</form>
										</div><!-- /.comment-respond -->
									</div>
								</div><!-- /.content-inner -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- /.shop-detail-content -->

	<section class="flat-row shop-related">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-section margin-bottom-55">
						<h2 class="title">محصولات مرتبط</h2>
					</div>

					<div class="product-content product-fourcolumn clearfix">
						<ul class="product style2">

						</ul><!-- /.product -->
					</div><!-- /.product-content -->
				</div>
			</div><!-- /.row -->
		</div>
	</section>

	<section class="flat-row mail-chimp">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="text">
						<h3>اشتراک در خبرنامه</h3>
					</div>
				</div>
				<div class="col-md-8">
					<div class="subscribe clearfix">
						<form action="#" method="post" accept-charset="utf-8" id="subscribe-form">
							<div class="subscribe-content">
								<div class="input">
									<input type="email" name="subscribe-email" placeholder="ایمیل شما">
								</div>
								<div class="button">
									<button type="button">اشتراک</button>
								</div>
							</div>
						</form>
						<ul class="flat-social">
							<li><a href="#"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter"></i></a></li>
							<li><a href="#"><i class="fa fa-google"></i></a></li>
							<li><a href="#"><i class="fa fa-behance"></i></a></li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						</ul><!-- /.flat-social -->
					</div><!-- /.subscribe -->
				</div>
			</div>
		</div>
	</section><!-- /.mail-chimp -->
	<!-- Footer -->
	<!-- Go Top -->
	<a class="go-top">
		<i class="fa fa-chevron-up"></i>
	</a>

</div>